@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    

}

body{
    font-weight: 300;
    font-family: Kanit , sans-serif;
    color: #141414;
}

.social-media {
    text-align: center;
}

.social-media > li {

    display: inline;
}

.social-media i {

    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #141414;
  }

  footer {
      
  height: 150px;
  width: 100%;
  
  }
    

  #header-h1 {
    float: left;
     font-size: 270%;
     margin-left: 40px;
     font-style: italic;
 }
 

 #navigation {
    font-size: 110%;
    letter-spacing: 4px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}


#navigation , #header-h1 {
    line-height: 75px;
}

#navigation a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#h-v {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #141414;
    margin-top: 20px;
}




#home-hero {
    height: 600px;
    width: 100%;
    background: url(/assets/images/homepagehero1.png) repeat center center;
    animation-name: background-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



#hero-radius{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

@keyframes background-zoom {
    from{
        transform: scale(1);

    }
    to{
      transform: scale(1.1);
    }
}

.bubbel >h2 {
    color: rgb(0, 0, 0);
    margin: 15px;
    text-transform: uppercase;
    text-align: center;
}

.bubbel > p {
    font-style: normal;
    margin-bottom: 60px;
}


.bubbel > a{

color: #141414;    
margin-left: 200px;
text-decoration: none;
border: 2px solid #141414;
padding: 5px;


}


#bubbel1

{
    font-size: 130%;
    font-family: Kanit, sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;

    width: 600px;
    height: 350px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(236, 228, 228, 0.884);
    bottom: 30px;
    right: 150px;
    
    position: absolute;
    
}

#bubbel1 > p{
    margin-bottom: 90px;
}



#bubbel2
 
{
    font-size: 130%;
    font-family: Kanit, sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;
 
    width: 600px;
    height: 350px;
 
    padding-top: 40px;
    padding-left: 10px;
 
    background-color: rgba(236, 228, 228, 0.884);
    bottom: 30px;
    right: 150px;
    left: 70px;
    position: absolute;
  
}



#what-is {
    background-color: #a6b6c9;
    width: 100%;
    height: 400px;
    overflow: auto;
}

#what-is > h1{
    text-align: center;
    font-style: italic;
    font-size: 250%;
    font-weight: 600;
    margin-top: 40px;
   
}

#what-is > p {
    text-align: center;
    letter-spacing: 2px;
    font-size: 120%;
}

#whatis-p1{
    margin-top: 30px;
    margin-bottom: 60px;
}

#med1 {
    max-width: 26%;
    height: 300px;
    display: inline-block;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 40px;
    overflow: auto;
}

div > img {
    height: 200px;
    width: 200px;
    float: left;
    
    overflow: hidden;
}

#med1 > h3 {
    text-align: center;
}

#med1 > p {
    
    float: inline-end;
}